#worldContainer{
	-fx-background-repeat: stretch;
	-fx-base: rgba(250, 250, 250, 0.55);
	
	-fx-background-image: url("beach36.jpg");
	-fx-background-position: center center;
	
}

#barraArriba, #cajita{
	-fx-border-style: solid;
	-fx-border-color: rgba(250, 250, 250, 0.4);
	-fx-margin-top: 25px;
	-fx-background-color: rgba(256, 256, 256, 0.35);
	-fx-effect: dropshadow( three-pass-box , rgba(40,40,40,0.35) ,5, 0.0 , 2 , 5 );
	
}

#cajaIz, #cajaNuevoTweet, #contenedorMensaje{
	-fx-border-style: solid;
	-fx-border-color: rgba(250, 250, 250, 0.4);
	-fx-margin-top: 25px;
	-fx-background-color: rgba(256, 256, 256, 0.85);
	-fx-font-family: "NanumGothic";
	-fx-effect: dropshadow( three-pass-box , rgba(40,40,40,0.35) ,5, 0.0 , 2 , 5 );
}

#tweetButton{
	-fx-font-weight: bold;
	-fx-font-size: 12;
	-fx-font-family: "Purisa";
	-text-fill: rgba(80, 80, 80, 0.85);
	-fx-background-color: rgba(0, 200, 255, 0.7);
	-fx-effect: dropshadow(three-pass-box , rgba(0,100,120,0.3) , 10, 0.0 , 0 , 0 );
	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.4) , 10, 0.0 , -1 , -1 );		
}

#tweetButton:hover{
	-fx-cursor: hand;
	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.9) , 20, 0.0 , -1 , -1 );
	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.9) , 20, 0.0 , 1 , 1 );
}

#twittear{
	-fx-font-weight: bold;
	-fx-font-size: 13;
	-fx-font-family: "NanumGothic";
	-text-fill: rgba(80, 80, 80, 0.85);
	-fx-background-color: rgba(0, 200, 255, 0.7);
	-fx-effect: dropshadow(three-pass-box , rgba(0,100,120,0.3) , 10, 0.0 , 0 , 0 );
	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.4) , 10, 0.0 , -1 , -1 );		
}

#twittear:hover{
	-fx-cursor: hand;
	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.9) , 20, 0.0 , -1 , -1 );
	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.9) , 20, 0.0 , 1 , 1 );
}

#cajita:hover, #Ajustes:hover, .tab:hover,  #cerrarNuevoTweet:hover, #contenedorMensaje:hover{
	-fx-cursor: hand;
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,1) , 10, 0.0 , -1 , -1 );
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,1) , 10, 0.0 , 1 , 1 );
}

#tweetButton:pressed, #opcion:pressed, #cajita:pressed, #Ajustes:pressed, #twittear:pressed,  #cerrarNuevoTweet:pressed, #contenedorMensaje:pressed{ 
	-fx-cursor: hand;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.9) , 0, 0.0 , 0 , 0 );
	
}


.choice-box, .label{
	-fx-font-weight: normal;
	-fx-font-size: 13;
	-fx-font-family: "NanumGothic";
	-fx-text-fill:rgba(0, 0, 0, 1);		
}

#numeroDe, #cerrarNuevoTweet, #misMensajesPrivados{
	-fx-font-weight: bold;
	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.75) , 10, 0.0 , 0 , 0 );
}

#textoPestana{
	-fx-font-weight: bold;
	-fx-font-size: 14;
	-fx-font-family: "NanumGothic";
	-fx-text-fill: rgba(255, 255, 255, 1);
}

#MenuArriba .content.label{
	-fx-font-weight: bold;
	-fx-font-size: 14;
	-fx-font-family: "NanumGothic Book";
	-fx-text-fill:rgba(0, 0, 0, 1);
	
}
#MenuArriba .tab{
	-fx-border-style: solid;
	-fx-border-color: rgba(250, 250, 250, 0.1);
	-fx-margin-top: 25px;
	-fx-background-color: rgba(0, 230, 255, 0);
		
}

#prueba {
	-fx-background-color: rgba(0, 230, 255, 0);
}

#fondoPestana{
	-fx-background-color: rgba(255, 255, 255, 0.3);
	-fx-border-style: solid;
	-fx-border-color: rgba(255, 255, 255, 0.5);
}

#MenuArriba .tab:selected{
	
	-fx-background-color: rgba(0, 230, 255, 0.95);
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.9) , 0, 0.0 , 0 , 0 );
}

#nSiguiendo, #nTweets, #nSeguidores{
	-fx-font-weight: bold;
	-fx-font-size: 14;
	-fx-font-family: "NanumGothic";
	-fx-text-fill:rgba(0, 0, 0, 1);
}

#screenName{
	-fx-font-weight: bold;
	-fx-text-fill: rgba(0, 0, 0, 0.9);
}

#cajaTexto{
	-fx-margin-top: 25px;
	-fx-background-color: rgba(256, 256, 256, 0.0);
}

#descUser{
	-fx-font-size:12;
	-fx-margin-top: 25px;
	-fx-background-color: rgba(256, 256, 256, 0.0);
}

#tabVacio .tab:selected{
	-fx-background-color: rgba(0, 230, 255, 0);
}	

#titulo{
	-fx-font-weight: bold;
	-fx-font-size: 20;
	-fx-font-family: "NanumGothic";
	-fx-text-fill:rgba(0, 0, 0, 0.85);
	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.75) , 10, 0.0 , 0 , 0 );
}
	

